@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add Machine</h1>
<h5>Add machine to this engineer: @Html.DisplayFor(model => model.Name)</h5>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back", "Index", "Engineer", null, new { @class = "btn btn-primary" })</p>